// Layout

body {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

img, figure {
	width: 100%;
	margin: 0;
}

figure {
	background-color: $violet;
}

section {
	padding-top: $base-unit*4;
	padding-bottom: $base-unit*4;
	@media only screen and (max-width: $screen-md) {
		padding-top: $base-unit*2;
		padding-bottom: $base-unit*2;
	}
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

// Navigation Styles

.nav-title {
	margin-top: 0;
	font-weight: normal;
	padding:$base-unit;
	@media only screen and (max-width: $screen-sm) {
		text-align: center;
	}
}
.nav-list {	
	margin-top: $base-unit*3;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-align: right;
	@media only screen and (max-width: $screen-md) {
		text-align: left;
	}
}

.nav-active {
	color: $majorelle !important;
	background-color: rgba( $majorelle, .1 );
	border-radius: 3px;
	font-weight: bold;
}

.nav-title a {
	padding: $base-unit;
	font-weight: normal;
}

.nav-icon {
	max-width: 40px;
	display: list-item;
	margin: 0 auto;
	margin-bottom: $base-unit;
}

.nav-list li {
	margin-right: $base-unit*2;
	display: inline-block;
	font-weight: bold;
	padding:$base-unit;
	color: $slate;
	&:last-child {
		margin-right: 0;
	}
	a:hover {
		color: $majorelle;
		transition: color .3s ease-in-out;
	}
}

.nav-container {
	margin-top: $base-unit*4 !important;
}

.seafoam-bg {
	background-color: $seafoam;
}

.learn-more {
	color: $majorelle;
    background-color: rgba( $majorelle, .1 );
    border-radius: 3px;
    border: 1px solid $majorelle;
    margin: $base-unit;
}

// Timeline

.timeline {
  position: relative;
  margin-left: $base-unit*2;
}
.timeline:before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 4px;
  background: $majorelle;
}
.timeline ul {
  list-style: none;
  padding-left: $base-unit*2;
}

.timeline li {
  margin-top: $base-unit*2;
  @media only screen and (max-width: $screen-md) {
  	margin-top: $base-unit*4;
  }

}
.timeline span {
  display: block; 
}

span.time {
  font-size: $base-unit*2;
  margin-bottom: $base-unit;
}

span.title {
  font-weight: 600; 
  font-size: $base-unit*2;
}

span.text, span.time {
  color: $slate;
  margin-left: $base-unit/2;
}

span.text {
	margin-top: $base-unit;
	margin-bottom: $base-unit*6;
}

.timeline-image {
	margin: $base-unit*3 auto;
	max-width: 800px;
	@media only screen and (max-width: $screen-md) {
		max-width: 400px;
	}
}

span.title:before {
  content: '';
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 3px solid $majorelle;
  border-radius: 100%;
  background-clip: padding-box;
  margin-left: -1.4rem;
  margin-right: 0.7rem;
  vertical-align: middle;

}
@media (min-width: 40em) {
  span.title:before {
    margin-left: -1.35rem;
  }

}